
.flexItem {
    
    border: black 1px solid;
}

.flex {
    display: flex;
    
    
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.black {
    background-color: black;
}

.flexItem:hover {
    background-color: black;;
}
